extends ../common/layout

block title
  title Payments

block content
  - var activeTab = 'payments';
  include _top
  div(class='container-fluid')
    div(class='row')
      div(class='col-lg-12')
        div(class='panel panel-default')
          div(class='panel-heading') Security Deposits
          table(class='table')
            if member.securities.length == 0
              tr
                td None
            else
              tr
                th Date
                th Item
                th Amount
                th Status
              each security in member.securities
                tr
                  td #{toShortDateString(security.created_at)}
                  td #{security.item}
                  td $#{security.payment.amount}
                  if security.refunded_at === null
                    td
                      label(class='label label-info') Held
                  else
                    td
                      label(class='label label-success') Returned #{toShortDateString(security.refunded_at)}
    div(class='row')
      div(class='col-md-6')
        div(class='panel panel-default')
          div(class='panel-heading') Dues Payments
          table(class='table')
            if member.dues.length == 0
              tr
                td None
            else
              tr
                th Period Start
                th Period End
                th Amount
              each dues in member.dues
                tr
                  td #{toShortDateString(dues.period_start)}
                  td #{toShortDateString(dues.period_end)}
                  td $#{dues.payment.amount}
      div(class='col-md-6')
        div(class='panel panel-default')
          div(class='panel-heading') Donations
          table(class='table')
            if member.donations.length == 0
              tr
                td None
            else
              tr
                th Date
                th Amount
              each donation in member.donations
                tr
                  td #{toShortDateString(donation.payment.created_at)}
                  td $#{donation.payment.amount}
