doctype html
html
  head
    title=title
    link(rel='stylesheet', href='#{uriPathPrefix}/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='#{uriPathPrefix}/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='#{uriPathPrefix}/css/style.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='#{uriPathPrefix}/bootstrap/js/bootstrap.min.js')
